<body class="a">
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="assets/1.jpeg" alt="">
                <h4> Luxurious product</h4>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/2.jpeg" alt="">
                <h4> Customized product</h4>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/4.jpeg" alt="">
                <h4> Modern product</h4>
            </a>            </div>
        <div class="item">
            <a>
                <img style="width: 62px; margin-top: 2px;" src="assets/13.jpeg" alt="">
                <h4> Solid plain  product</h4>
            </a>            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ng-container>
                <div class="card col-md-3">
                      <img src="assets/1.jpeg" alt="">
                     <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Luxurious Window Curtain, Connie'S Dance, 54"x96"By Ulinkly</h4>
                     <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Luxurious urtain</p>
                     <p><strong> Price:</strong>$400</p>
                     <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/3.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Versailles Window Panel, Gold, 52"x108"By Elrene Home Fashions</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Luxurious curtain</p>
                    <p><strong> Price:</strong>$200</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/9.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Luxurious Window Curtain, Royal Classy, 54"x96"By Ulinkly</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Luxurious curtain</p>
                    <p><strong> Price:</strong>$360</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/2.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >3D Digital Printed Polyester Curtain - Fancy Floral Curtains for Window - Room Darkening Designed Curtain, Set of 2, 5x4Feet, Peacock Brand: Generic </h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">customized curtain</p>
                    <p><strong> Price:</strong>$90</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/8.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Polyester 3D Printed Window Curtain, 5ft, Multicolour, Set of 2 Brand: Generic</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">customized curtain</p>
                    <p><strong> Price:</strong>$92</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/5.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Bhairav Enterprises Polyester 3D Digital Printed Peacock Eyelet Window Curtains for Kids Room, Blue, 5ft, Set of 2 Brand: Bhairav Enterprises</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">customized curtain</p>
                    <p><strong> Price: </strong>$85</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/4.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Cordless Window Roller Shades Free-Stop Dual Layer Zebra Blinds - 35"x72"</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">modern curtain</p>
                    <p><strong> Price:</strong>$84</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/6.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Fabric, Polyester Horizontal Window Roller Blinds</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">modern curtain</p>
                    <p><strong> Price:</strong>$200</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/7.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >promotional sun shadeing roller curtain</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">modern curtain</p>
                    <p><strong> Price:</strong>$450</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/13.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" > PINDIA Polyresin Decorative String Thread Room Door Curtain, 7x3.6ft, Multicolour, Set of 2 (CRTSTRING005PC2) Brand: PINDIA</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;"> solid plain curtain</p>
                    <p><strong> Price:</strong>$320</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/10.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" >Ace International Exports polyresin Classic Curtain, 7 feet, Maroon , Pack of 1 Brand: Ace International Exports</h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;"> solid plain curtain</p>
                    <p><strong> Price:</strong>$240</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
                <div class="card col-md-3">
                    <img src="assets/11.jpeg" alt="">
                    <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;" > Exporthub Polyester & Polyester Blend Curtains, 7 feet, Red, Maroon, 1 Piece Brand: Exporthub </h4>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;"> solid plain curtain</p>
                    <p><strong> Price:</strong>$235</p>
                    <button class="btn btn-primary" routerLink="cart"> Add to cart</button>
                </div>
            </ng-container>
        </div>
    </div>
 </div>
 </body>