<body class="b">
    <h1 class="pink">
    <br>
   &nbsp; <b>Your order has been placed.</b></h1><br><br>
   <div class="loop-wrapper">
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
  </div> <br><br><br><br><br><br><br><br><br>
  <div class="center" >
    <h1 class="center"><u>Congratulation!!</u></h1>
    <br><br></div> 
</body>