<body class="a">
  <html>
	<form>
	<table width="80%">
		<tr>
      <td><label for="inputName" class="form-label"><h4>&nbsp; Name</h4></label></td>
     <td><input type="text" class="form-control" id="inputName" required></td>
    </tr>
    <tr>
      <td><label for="inputEmail4" class="form-label"><h4>&nbsp;Email</h4></label></td>
     <td><input type="email" class="form-control" id="inputEmail4" placeholder="abc@gmail.com" required></td>
    </tr>
    <tr>
      <td><label for="inputTextarea" class="form-label"><h4>Address</h4></label></td>
      <td><textarea class="form-control" id="inputTextarea1" rows="3" placeholder="1234 Main St" required></textarea></td>
    </tr>
		<tr>
      <td><label for="inputCity" class="form-label"><h4>City</h4></label></td>
      <td> <input type="text" class="form-control" placeholder="City" aria-label="City"></td>
    </tr>
    <tr>
      <td> <label for="inputState" class="form-label"><h4>State</h4></label></td> 
    <td> <input type="text" class="form-control" placeholder="State" aria-label="State"></td>
    </tr>
    <tr>
      <td> <label for="inputZip" class="form-label"><h4>Zip</h4></label></td>
      <td> <input type="text" class="form-control" placeholder="Zip" aria-label="Zip"></td>
    </tr>
    <tr>
      <td> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="gridCheck"><h5>Curtains</h5></label></td>
    </tr>
    <tr>
      <td> <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="gridCheck"><h5>Rollar Blinds</h5></label></td>
    </tr>
    <tr>
      <td> <input class="form-check-input" type="radio" name="exampleRadios"  id="exampleRadios3" value="option3">
          <label class="form-check-label" for="gridCheck"><h5>Zebra Blinds</h5></label></td>
    </tr>
    <tr>
      <td><label for="inputName" class="form-label"><h4>Window Size</h4></label></td>
      <td><input type="text" class="form-control" id="inputName" placeholder="4cm X 4cm" required></td>
    </tr>
    <tr>
      <td>  <label class="form-label"><h4>Drag and Drop<br>Your File Here</h4></label> </td>
      <td>  <input type="file" class="form-control form-control-lg" id="inputGroupFile"></td>
    </tr>
    <tr>
      <td><button class="btn btn-primary btn-large" routerLink="customise1"> <h4>Continue </h4></button></td>
    </tr>
		</table>
	</form>
	<body>
	</body>
</html>
    