<html>
  <body class="a">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-80" style="width: 25rem">
          <img src="/assets/curtain2.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Curtain</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-80" style="width: 26rem">
          <img src="/assets/rollar.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Roller Blinds</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card h-80" style="width: 27rem">
          <img src="/assets/zebra.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Zebra Blinds</h5>
            <p class="card-text"> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
      </div>
    </div><br><br>
  </body>
</html>